body {
    background-color: grey;
    text-align: center;

}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: red;
}

p {
    color: yellow;
    max-width: 500px;
    margin: auto;
    text-align: left;
}